.data-point {
  cursor: pointer;
  transition: fill $durationSlow $timing;

  &:focus {
    outline: none;
  }
}

@for $i from 1 through 10 {
  .dataset-alert-#{$i} {
    fill: nth($chartColors , $i );

    &.background-color {
      color: #ffffff;
      background-color: nth($chartColors , $i );
    }

    &.color {
      color: nth($chartColors , $i );
    }

    &.border-color {
      border-color: nth($chartColors , $i );
    }
  }
}